@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*===MAIN===*/
:root{
    --green:#0fff95;
    --blue:#275dad;
    --light:#fcf7f8;
    --dark:#5b616a;
    --pink:#e56399;
    --lightblue:#40bcd8;
    --primary: var(--blue);
}

.vh100{
    height:100vh;
}
.h30{
  height:30%;
}
.h100{
  height:100%;
}
body {

    background-color:var(--light);
    font-family:'Barlow';
    color:var(--dark);
}
a{
    text-decoration:none;
}
/*===COLOR UTILITIES===*/

.bg-green{
    background-color:var(--green);
}
.bg-blue{
    background-color:var(--blue);
}
.bg-dark{
    background-color:var(--dark);
}
.text-light{
    color:var(--light);
}
.text-blue {
    color:var(--blue);
}
.text-green {
  color:var(--green);
}
.gradient0{
  background: rgb(15,255,149);
background: linear-gradient(90deg, rgba(15,255,149,1) 0%, rgba(39,93,173,1) 100%);
}
.gradient1{
  background: rgb(39,93,173);
  background: linear-gradient(90deg, rgba(39,93,173,1) 0%, rgba(15,255,149,1) 100%);
}

.gradient2{
  background: rgb(229,99,153);
  background: linear-gradient(90deg, rgba(229,99,153,1) 0%, rgba(64,188,216,1) 100%);
}

.gradient4{
  background: rgb(64,188,216);
  background: linear-gradient(90deg, rgba(64,188,216,1) 0%, rgba(229,99,153,1) 100%);

}

.gradient3{
  background: rgb(229,99,153);
  background: linear-gradient(90deg, rgba(229,99,153,1) 0%, rgba(64,188,216,1) 100%);
}

.bg-pink{
  background-color:var(--pink);
}
.bg-lightblue{
  background-color:var(--lightblue);
}

.flex-none {
  flex:none;
}

/*===BUTTON===*/

.btn {
  border-radius: 0px;
  /* border:solid 2px var(--dark); */
}

.text-wrapperAnnouncementsShow {
    margin-right: 100px;
  }

/*===DROPDOWN===*/
  


/*===BUTTON===*/


/* Button blue Style */

.btnBlue{
border-color: var(--blue);
background-color: var(--blue);
color: var(--light);
}

.btnBlue:hover{
  border-color: #0a58ca;
  background-color: #0a58ca; /* Colore di sfondo durante il passaggio del mouse */
  color: #fff; /* Colore del testo durante il passaggio del mouse */
}

.btnBlue:active{
  border-color: #0a58ca;
  background-color: #0a58ca; /* Colore di sfondo al click */
  color: #fff; /* Colore del testo al click */
}

/* Button dark Style */

.btnDark{
  border-color: var(--dark);
  background-color: var(--dark);
  color: var(--light);
  }
  
  .btnDark:hover{
    border-color: black;
    background-color: black; /* Colore di sfondo durante il passaggio del mouse */
    color: #fff; /* Colore del testo durante il passaggio del mouse */
  }
  
  .btnDark:active{
    border-color: black;
    background-color: black; /* Colore di sfondo al click */
    color: #fff;  /* Colore del testo al click */
  }

  /* Button green Style */

  .btnGreen{
    border-color: var(--green);
    background-color: var(--green);
    color: var(--dark);
    }
    
    .btnGreen:hover{
      border-color: green;
      background-color: green; /* Colore di sfondo durante il passaggio del mouse */
      color: black; /* Colore del testo durante il passaggio del mouse */
    }
    
    .btnGreen:active{
      border-color: green;
      background-color: green; /* Colore di sfondo al click */
      color: black;  /* Colore del testo al click */
    }

/* Button link category nella visualizzazione annuncio */

.linkCategoryAnnouncementShow{
  background-color: var(--green);
  color: var(--dark);
}

#linkCategoryAnnouncementShow:hover {
    background-color: var(--dark); /* Colore di sfondo durante il passaggio del mouse */
    color: var(--light); /* Colore del testo durante il passaggio del mouse */
  }
  
  #linkCategoryAnnouncementShow:active {
    background-color: var(--dark); /* Colore di sfondo al click */
    color: var(--light); /* Colore del testo al click */
  }

  /* Button aggiungi al carrello nella visualizzazione annuncio */
 
  
  .buttonAddCartCustom {
    background-color: #212529;
    color: #F8F9FA;
  }

  #buttonAddCartAnnouncementsShow:hover {
    background-color: var(--dark); /* Colore di sfondo durante il passaggio del mouse */
    color: var(--light); /* Colore del testo durante il passaggio del mouse */
  }
  
  #buttonAddCartAnnouncementsShow:active {
    background-color: var(--dark); /* Colore di sfondo al click */
    color: var(--light); /* Colore del testo al click */
  } 

  /* Button Search Navbar */

  .buttonSearchNavbar{
    background-color: var(--dark);
    color: var(--light);
  }

  .buttonSearchNavbar:hover {
    background-color: var(--dark); /* Colore di sfondo durante il passaggio del mouse */
    color: var(--light); /* Colore del testo durante il passaggio del mouse */
  }

  .buttonSearchNavbar:active {
    background-color: var(--dark); /* Colore di sfondo al click */
    color: var(--light); /* Colore del testo al click */
  }



  /*===INPUT===*/
  
  /* Classe custom imput */
  
  .inputCostum {
    border-radius: 3px;
    border:2px solid #5b616a;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

     /* Classe fileimput custom*/

     .custom-file-input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
    
    .custom-file-label {
      cursor: pointer;
      padding: 3px 3px;
      background-color: var(--dark);
      color: var(--light);
      border: 1px solid var(--dark);
      border-radius: 5px;
      width: fit-content;
      display: inline-block;
      border-radius: 5px;
    }

    .custom-file-label:hover{
      background-color: var(--dark);
      color: var(--light);
    }

    .custom-file-label:after{
      background-color: var(--dark);
      color: var(--light);
    }


  .custom-file-input:focus ~ .custom-file-label {
      box-shadow: 0 0 5px var(--dark); /* Colore dell'ombra al click */
      outline: none;
    }


    
    
  
 /* Focus degli imput*/ 
 
    .inputCostum:focus {
    box-shadow: 0 0 5px var(--dark); /* Colore dell'ombra al click */
    outline: none;
  }

  /* Classe custom degli imput del login e del register*/
  
  .imputRegisterLoginCustom{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  /* Focus degli imput del login e del register*/
  
  .imputRegisterLoginCustom:focus {
    box-shadow: 0 0 5px var(--dark); /* Colore dell'ombra al click */
    outline: none;
  }


  
  /* Focus degli imput*/ 
  
  .inputCostum:focus {
    box-shadow: 0 0 5px var(--dark); /* Colore dell'ombra al click */
    outline: none;
  }

  /* Classe custom imput search navbar*/
  
  .imputSearchNavbar{
    border:2px solid #5b616a;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

    /* Focus dell'imput search navbar*/ 
  
  .imputSearchNavbar:focus {
    box-shadow: 0 0 5px var(--dark); /* Colore dell'ombra al click */
    outline: none;
  }



/*===NAVBAR===*/
.navbar-brand{
    font-family:'Barlow';
}
.nav-link{
    font-size: 2vh;
}

/*===DROPDOWN===*/

.dropdownBackground {
  background-color: var(--light);
  display: block;  
  }

/*Dropdown Navbar*/

.dropdownNavbarText{
  color: var(--dark);  
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownNavbarText:hover{
  color: black;
  background-color: #0fff95;
  
}

.auditorZoneDropdown:hover{
  background-color: #5b616a1b;
  border-radius: 5px;
}
/*===CARDS===*/
.card {
    border-radius:25px;
}
.card::hover{
    transform: scale(1.2);
}
.card-img-top {
    border-radius: 0px;;
}
.card-button {
    border-radius: 0 0 25px 25px;
}

/*===HEADER===*/

.header1{
    background-image: url('/public/ecommerce.jpeg');
}
.header-text{
    color:rgb(255,255,255,1);
}

/*===CAROUSEL===*/

/* Frecce del carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var( --green); /* Cambia il colore di sfondo delle frecce */
}

/* Colore dell'icona all'interno delle frecce */
.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: var(--dark); /* Cambia il colore dell'icona delle frecce */
}

/* Linea inferiore del carousel */
.carousel-indicators .active {
    background-color: var(--green); /* Cambia il colore della linea attiva */
  }

/* Immagini del carousel */
  .carousel-image {
    width: 500px;
    height: 500px;
} 

.revisorLink{
  color:var(--green);
}
.revisorLink:hover{
  color:var(--green);
}

/*Images Size create announcement*/

.images-imput-create-announcement {
  width: 300px;
  height: 300px;

}


/* ACCORDION */

.accordionCustom {
  background-color: var(--light);
  color: var(--dark);
}

/* MODAL */

.modalHeaderCustom {
  background-color: var(--green);
}

.modalBodyCustom {
  background-color: var(--light);
  color: black;
}

.modalFooterCustom {
  background-color: var(--dark);
}

/* STATISTIC */

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}
.circle-tile-heading {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}
.circle-tile-heading .fa {
  line-height: 80px;
}
.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 15px;
}
.circle-tile-description {
  text-transform: uppercase;
}
.circle-tile-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px;
  transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
  background-color: #2E4154;
}
.circle-tile-heading.green:hover {
  background-color: #138F77;
}
.circle-tile-heading.orange:hover {
  background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
  background-color: #2473A6;
}
.circle-tile-heading.red:hover {
  background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
  background-color: #7F3D9B;
}
.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
  background-color: #34495E;
}
.green {
  background-color: #16A085;
}
.blue {
  background-color: #2980B9;
}
.orange {
  background-color: #F39C12;
}
.red {
  background-color: #E74C3C;
}
.purple {
  background-color: #8E44AD;
}
.dark-gray {
  background-color: #7F8C8D;
}
.gray {
  background-color: #95A5A6;
}
.light-gray {
  background-color: #BDC3C7;
}
.yellow {
  background-color: #F1C40F;
}
.text-dark-blue {
  color: #34495E;
}
.text-green {
  color: #16A085;
}
.text-blue {
  color: #2980B9;
}
.text-orange {
  color: #F39C12;
}
.text-red {
  color: #E74C3C;
}
.text-purple {
  color: #8E44AD;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}